<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net45" />
  <package id="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.ServiceBus" version="6.0.1304.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="ServiceBus.v1_1" version="1.0.5" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="1.8.0.0" targetFramework="net45" />
</packages>