<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--minutes-->
    <add key="AccessTokenExpired" value="5" />
    <!--minutes-->
    <add key="RefreshTokenExpired" value="43200" />
    <!--minutes-->
    <add key="TTLChange" value="480" />

    <!--<add key="UserApi.AppID" value="36d6d05b920b4ee682b5e8198ef1a8a6" />
    <add key="UserApi.ConsumerSecret" value="1D822FCE7A4ADF8477965AD989F58AFB" />
    <add key="UserApi.RSAPublickey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPjBCR0pWUzExYmZvSEd1UFJ2QWpLZFFrNDN6UGpLY2FZM2FlTU92c1M2ejNWcTgwRTNBaElwTXNFenUwc3I5Y1RaNEs3Ukc2T1lHTWNub2p3QmJiMzVDbG9ERC8vbHRreUJFZEREblUrRXFQN0Y5aXF1N01DdWF1SzV0TWY4QVREQ2UxRmhyMzdsVFhqQzBWVUU3M3oxanVmdUNyR2JhY00zdnN4QkEwdWR4RT08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+" />
    <add key="UserApi.Uri" value="http://mapi.authen.8mall.vn" />-->

    <add key="UserApi.AppID" value="2ab16421ee7296794ffebb4b3790f30a" />
    <add key="UserApi.ConsumerSecret" value="C3899936238D3BEE353660F7C81951F2" />
    <add key="UserApi.RSAPublickey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPm5mS3pxQnNvODhhbmNMblVabVhXMTd4eDlIbGJLVUo2aGNveXQzRC9Vb25OdE91MEg4RnRCRkJFV2NLNzNRNGU2ejdPM3M4RTI5SGk1bTlvUDd5aVk5c2VEejJ3ZUZ4RDlrVmVuYytXRmpvKyt6WUxzenJueWlMbExIZ0hTWjc1dTBneG9EdXErTk02TTFZZmF2MUEydEo4SGt5K3ljMHdjWWZIZWthZVhCTT08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+" />
    <add key="UserApi.Uri" value="http://mapi.authen.adayroi.vn" />

    <!--<add key="UserApi.AppID" value="7771d832635dd74109386be7e28773c3" />
    <add key="UserApi.ConsumerSecret" value="29AC94DDB0CA6934ED358FFF020498E8" />
    <add key="UserApi.RSAPublickey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPnArdW15SXdiZG1rUnpiUnBNTE5FRVU1REtYdExqYjdJSzJiN21vTFZxWTdvWWwvckZFNXZVbzZDOVVLODU2SmhNdGpCdHFJc0lPd0IxcUg1eFJnRDJ6dHhUNHVaczVIQVVoZjdxT1JkODFyd2hwTzhFVUp5WEJKRkpQQStDWVhua1B2djFHRU9Od3NiVlVsV3FqSWQ5dnhtcjc0MkdMTnpTOFM4MnppN0dVOD08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+" />
    <add key="UserApi.Uri" value="http://mapi.authen.adayroi.dev" />-->
  </appSettings>
  <connectionStrings>
    <add name="MobileOAuth" connectionString="user id=adruserfortest;password=adruserfortest@qaz;server=10.220.75.25;database=Adayroi_MobileOAuthProvider;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="A970D0E3C36AA17C43C5DB225C778B3392BAED4D7089C6AAF76E3D4243E64FD797BD17611868E85D2E4E1C8B6F1FB684B0C8DBA0C39E20284B7FCA73E0927B20" decryptionKey="88274072DD5AC1FB6CED8281B34CDC6E79DD7223243A527D46C09CF6CA58DB68" validation="SHA1" decryption="AES" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>